<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=480741883366460&autoLogAppEvents=1" nonce="E1lFjegl"></script>
<style type="text/css">
  a, a:visited, a:focus, a:hover {
    text-decoration: none;
  }
  .nav-link {
    color: black;
  }
  .nav-link:hover {
    color: #F9C80E;
  }
  /* sns share btn */
  .snssharer {
    margin-top: 20px;
  }
  .snssharer span a {
    margin: 0 0.5em;
  }
</style>
<aside class="main-sidebar col-md-3 col-lg-2 px-20 border-end">
  <div class="nav-wrapper">
    <ul class="nav flex-column">
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/money/new">
          <span data-feather="plus-circle"></span>
          Today's Record
        </a>
      </li>
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/money/show">
          <span data-feather="dollar-sign"></span>
          Money Record
        </a>
      </li>
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/bodies/show">
          <span data-feather="bar-chart-2"></span>
          Weight Record
        </a>
      </li>
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/money">
          <span data-feather="home"></span>
          Top Page
        </a>
      </li>
      <div class="snssharer">
        <span class="facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse>" target="_blank">
            <img src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" alt="Facebook" height="50px" width="50px">
          </a>
        </span>
        <span class="twitter">
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw&hashtags=食べたつもり貯金&text=<%= Date.today.month %>月<%= Date.today.day %>日の記録" target='_blank'>
            <%= image_tag "Twittercircle.png", alt:"Twitter", height:"50px", width:"50px" %>
          </a>
        </span>
        <span class="line">
          <a href="https://social-plugins.line.me/lineit/share?" target="_blank">
            <%= image_tag "LINEicon.png", alt:"LINE", height:"50px", weight:"50px" %>
          </a>
        </span>
      </div>
    </ul>
  </div>
</aside>

<%# icon %>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>