<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0&appId=480741883366460&autoLogAppEvents=1" nonce="E1lFjegl"></script>
<style type="text/css">
  a, a:visited, a:focus, a:hover {
    text-decoration: none;
  }
  .nav-link {
    color: black;
  }
  .nav-link:hover {
    color: #F9C80E;
  }
  /* sns share btn */
  .tw-share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 2em;
    margin: 1em 0 2em 0;
    text-decoration: none;
    background: #55acee;
    border-radius: 3px;
  }
  .fa-twitter { 
    margin: 0;
    font-size: 0.9em;
    color: #fff;
    min-width: 15px;
  }
  .tw-text {
    font-size: 0.8em;
    color: #fff;
    margin: 0;
  }
</style>
<aside class="main-sidebar col-md-3 col-lg-2 px-20 border-end">
  <div class="nav-wrapper">
    <ul class="nav flex-column">
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/money/new">
          <span data-feather="plus-circle"></span>
          Today's Record
        </a>
      </li>
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/money/show">
          <span data-feather="dollar-sign"></span>
          Money Record
        </a>
      </li>
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/bodies/show">
          <span data-feather="bar-chart-2"></span>
          Weight Record
        </a>
      </li>
      <li class="nav-item border-bottom py-3">
        <a class="nav-link" href="/money">
          <span data-feather="home"></span>
          Top Page
        </a>
      </li>
      <div class="tw-share-button">
        <i class="fab fa-twitter"></i>
        <%= link_to "ツイート", "http://twitter.com/intent/tweet?text=#{Date.today.month}月#{Date.today.day}日の記録&hashtags=食べたつもり貯金", class:"tw-text", target:'_blank' %>
      </div>
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a>
      </div>
    </ul>
  </div>
</aside>

<%# icon %>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>